.searchbar {
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    padding: 12px 24px;
    color: #fff;
    background-color: #13245c;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.searchForm {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #f1f1f4;
    border-radius: 3px;
    overflow: hidden;
}

.searchFormButton {
    display: inline-block;
    width: 100px;
    height: 25px;
    border: 0;
    color:#f1f1f4;
    background-color: #0abacf;
    background-image: url('https://image.flaticon.com/icons/svg/149/149852.svg');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    outline: none;
}

.SearchForm-button:hover {
    opacity: 1;
}

.SearchFormBtnLabel {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

.SearchFormInput {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

.SearchFormInput::placeholder {
    font: inherit;
    font-size: 18px;
    color: #FFF;
}

.input {
    width: 100%;
    text-align: center;
    border: none;
}

.input:focus,
.input:active {
    border: none;
    outline: none;
}